@use "variable/colors";
@use "variable/font";
@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$color: green;

$theme-colors: (
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
);

html {
  font-size: 62.5%;
  background-color: map.get($theme-colors, "info");
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.8rem;
}

h3 {
  $color: pink !global;
  color: $color;
  font-size: font.$h2-font;
}

h4 {
  font: {
    size: 18px;
    weight: bold;
  }
}

.box {
  @include colors.boxSize(200px, 250px);
  background-color: map.get($theme-colors, "warning");

  body.home & {
    color: red($color: #ff9100);
  }
}

$base-color: #ff9100;

@for $i from 1 through 10 {
  ul li:nth-child(10n + #{$i}) {
    background-color: lighten($base-color, $i * 4%);
  }
}

button {
  @include colors.button(20px, colors.$black, colors.$white);
}

@media (width < 767px) {
  h3 {
    font-size: 30px;
  }
}
